<div id="flash-message">
  {{#if messages.error}}
  <div class="flash_error_active">{{messages.error}}</div>
  {{else}}
  <div class="flash_success_active">{{messages.success}}</div>
  {{/if}}
</div>
