<ul class="nav">
  {{#if logged}}
  <li>
    <a href="users/logout">Logout</a>
  </li>
  {{else}}
  <li>
    <a href="/login">Login</a>
  </li>
  {{/if}}
  <li>
    <a href="/registration">Register</a>
  </li>
  <li>
    <a href="/"><img src="public/images/house.svg" /></a>
  </li>
</ul >
