<ul class="nav">
  {{#if logged}}
  <li>
    <a id="logout-button" onmouseover="" style="cursor: pointer;">Logout</a>
  </li>
  {{else}}
  <li>
    <a id="login-button" href="/login">Login</a>
  </li>
  {{/if}}
  {{#if logged}}
  {{else}}
  <li>
    <a id="register-button" href="/registration">Register</a>
  </li>
  {{/if}}
  <li>
    <a href="/"><img src="public/images/house.svg" /></a>
  </li>
</ul >
