<ul class="nav">
  {{#if logged}}
  <li>
    <a id="logout-button" onmouseover="" style="cursor: pointer;">Logout <img src="/public/images/box-arrow-left.svg" /></a>
  </li>
  {{else}}
  <li>
    <a id="login-button" href="/login">Login <img src="/public/images/box-arrow-in-right.svg" /></a>
  </li>
  {{/if}}
  {{#if logged}}
  {{else}}
  <li>
    <a id="register-button" href="/registration">Register</a>
  </li>
  {{/if}}
  {{#if logged}}
  <li>
    <a id="post-button" href="/postimage">Post!</a>
  </li>
  {{/if}}
  <li>
    <a href="/"><img src="/public/images/house.svg" /></a>
  </li>
</ul >
