<div class="main_flex_container">
	<div class="image_info">
		<h1>Placeholder Title</h1>
    <p>
      By <i>Placeholder Author</i>
      </p>
      <p>
        On <time datetime="2020-10-07 23:59">2020/10/07 23:59</time>
        </p>
	</div>
  <img src="https://images.unsplash.com/photo-1531591022136-eb8b0da1e6d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80" alt="Placeholder Description" />
</div>
