body {
  display: block;
}
#items_container {
  display: grid;
  flex-direction: row;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0.25em;
  margin: 4px;
  width: 100%;
}
h1 {
  margin-bottom: 50px;
}
.card {
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
  background: #cad7e3;
  box-shadow:  20px 20px 30px #acb7c1,
               -20px -20px 30px #e8f7ff;
}
.card-title {
  font-weight: bold;
  text-align: center;
}
.anchor-button {
  text-decoration: none;
  color: #413E65;
  float: right;
  font-weight: bold;
  padding: 20px;
  margin: 15px;
  font-size: 14px;
  border-style: none;
  font-size: 14px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  background: #C2C0D8;
  box-shadow:  5px 5px 10px #acb7c1,
               -5px -5px 10px #e8f7ff;
}
.anchor-button:active {
  font-size: 14px;
  outline-style: none;
  background: #C2C0D8;
  box-shadow:  inset 5px 5px 8px #a5a3b8,
               inset -5px -5px 8px #dfddf8;
}
.anchor-button:focus {
  outline-style: none;
}
.card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}
h1 {
  text-align: center;
}
.fading_out {
  opacity: 1;
  transition: .5s opacity;
}
